<?xml version="1.0" encoding="utf-8"?>
<settings>
	<targetDesignerId>27916ede-58c6-4356-87b1-0b0628d1e2a7</targetDesignerId>
	<createPackages>
		<package id="8e5c7d46-90fe-4828-b4cd-61e44c9b2a2c" typeId="fbca4a65-b376-482c-a23d-32da9908cac9" type="Root Location Package">
			<name>${application.name}</name>
			<stereotypes />
			<childElements>
				<element id="ed8e1606-6b99-4478-af51-2837380f4153" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>src</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>src</display>
				</element>
				<element id="bb119ab5-37eb-44cc-b781-ca7cebf24150" typeId="8663c9f9-2852-45e7-aaa1-0883a2e6f1da" type="Role">
					<name>Default</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Default</display>
				</element>
			</childElements>
			<associations />
			<references />
			<metadata />
		</package>
	</createPackages>
</settings>