<?xml version="1.0" encoding="utf-8"?>
<settings>
	<targetDesignerId>f492faed-0665-4513-9853-5a230721786f</targetDesignerId>
	<createPackages>
		<package id="c8aa2ec1-73b4-4356-94e3-bc52a2245cb1" typeId="911c35b4-4ba3-404c-a0c6-e5258e53333a" type="User Interface Package">
			<name>${application.name}.UI</name>
			<stereotypes />
			<childElements>
				<element id="c8a397ff-98e6-4179-9e81-632e74d7b303" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>Layout</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="c1c2682d-7a09-446d-8a19-d24d63cc99e4" typeId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" type="Layout">
							<name>MainLayout</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>MainLayout</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Layout</display>
				</element>
				<element id="b7b548eb-a3b3-44a2-910f-bb0b7de52667" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>Pages</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="ca58167b-0c67-4fe1-ba0b-06dbbbc20aa1" typeId="b1c481e1-e91e-4c29-9817-00ab9cad4b6b" type="Component">
							<name>ExamplePage</name>
							<genericTypes />
							<metadata />
							<stereotypes>
								<stereotype stereotypeDefinitionId="ea4adc09-8978-4ede-ba5f-265debb2b60c" name="Page">
									<addedByDefault>false</addedByDefault>
									<definitionPackageName>Intent.Modelers.UI</definitionPackageName>
									<definitionPackageId>5c4628ec-679e-4f3d-afda-137c978deae0</definitionPackageId>
									<properties>
										<property name="9dff9df1-a993-4bf6-9aa7-c16811142228" display="Route" value="/example-page/{Title}" isActive="true" />
										<property name="0a8627ba-ec45-4023-9c36-b0999f43e982" display="Title" isActive="true" />
									</properties>
								</stereotype>
							</stereotypes>
							<childElements>
								<element id="29a62d5f-85fe-439f-9d20-13664bd1ffa2" typeId="624513a6-cba8-4dde-8ebe-6b19f00f0364" type="Component View">
									<name>[view]</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>[view]</display>
								</element>
								<element id="17d84751-ea5e-4a83-8fcf-d048d93e4716" typeId="356fbe17-bc63-4e16-b915-feefbc063cbe" type="Property">
									<name>Title</name>
									<typeReference>
										<typeId>d384db9c-a279-45e1-801e-e4e8099625f2</typeId>
										<isNavigable>true</isNavigable>
										<isNullable>false</isNullable>
										<isCollection>false</isCollection>
										<typeName>string</typeName>
									</typeReference>
									<genericTypes />
									<metadata />
									<stereotypes>
										<stereotype stereotypeDefinitionId="f324c4ea-bac2-450d-b1b1-cc7f09ca3472" name="[Route Parameter]">
											<addedByDefault>false</addedByDefault>
											<definitionPackageName>Intent.Modelers.UI</definitionPackageName>
											<definitionPackageId>5c4628ec-679e-4f3d-afda-137c978deae0</definitionPackageId>
											<properties />
										</stereotype>
									</stereotypes>
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Title: string</display>
								</element>
								<element id="c71fd35e-cab1-4db4-a9a9-b8c101900b75" typeId="e030c97a-e066-40a7-8188-808c275df3cb" type="Component Operation">
									<name>ngOnInit</name>
									<typeReference>
										<isNavigable>true</isNavigable>
										<isNullable>false</isNullable>
										<isCollection>false</isCollection>
										<typeName>void</typeName>
									</typeReference>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>ngOnInit(): void</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<mappings>
								<mapping type="View Binding" typeId="c33f86ad-423a-4a6f-a80c-a3206eafe5cd">
									<source applicationId="68b9c5c2-c910-4824-8459-fec6beba2aab" designerId="f492faed-0665-4513-9853-5a230721786f" elementId="ca58167b-0c67-4fe1-ba0b-06dbbbc20aa1" location="[Intent.Modules.Angular.Metadata].[User Interface].[ExamplePage]" />
									<target applicationId="68b9c5c2-c910-4824-8459-fec6beba2aab" designerId="f492faed-0665-4513-9853-5a230721786f" elementId="29a62d5f-85fe-439f-9d20-13664bd1ffa2" location="[Intent.Modules.Angular.Metadata].[User Interface].[[view]]" />
									<mappedEnds />
								</mapping>
							</mappings>
							<isAbstract>false</isAbstract>
							<display>ExamplePage</display>
						</element>
						<element id="a584c83e-6d75-4809-abd0-fa51fad5d802" typeId="b1c481e1-e91e-4c29-9817-00ab9cad4b6b" type="Component">
							<name>Home</name>
							<genericTypes />
							<metadata />
							<stereotypes>
								<stereotype stereotypeDefinitionId="ea4adc09-8978-4ede-ba5f-265debb2b60c" name="Page">
									<addedByDefault>false</addedByDefault>
									<definitionPackageName>Intent.Modelers.UI</definitionPackageName>
									<definitionPackageId>5c4628ec-679e-4f3d-afda-137c978deae0</definitionPackageId>
									<properties>
										<property name="9dff9df1-a993-4bf6-9aa7-c16811142228" display="Route" value="/" isActive="true" />
										<property name="0a8627ba-ec45-4023-9c36-b0999f43e982" display="Title" value="Home" isActive="true" />
									</properties>
								</stereotype>
							</stereotypes>
							<childElements>
								<element id="60024323-fea2-46b3-813c-a78eab16e5d1" typeId="624513a6-cba8-4dde-8ebe-6b19f00f0364" type="Component View">
									<name>[view]</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>[view]</display>
								</element>
								<element id="01c6dba9-653a-4a85-8d9a-5df9d55783a3" typeId="e030c97a-e066-40a7-8188-808c275df3cb" type="Component Operation">
									<name>ngOnInit</name>
									<typeReference>
										<isNavigable>true</isNavigable>
										<isNullable>false</isNullable>
										<isCollection>false</isCollection>
										<typeName>void</typeName>
									</typeReference>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>ngOnInit(): void</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<mappings>
								<mapping type="View Binding" typeId="c33f86ad-423a-4a6f-a80c-a3206eafe5cd">
									<source applicationId="68b9c5c2-c910-4824-8459-fec6beba2aab" designerId="f492faed-0665-4513-9853-5a230721786f" elementId="a584c83e-6d75-4809-abd0-fa51fad5d802" location="[Intent.Modules.Angular.Metadata].[User Interface].[Home]" />
									<target applicationId="68b9c5c2-c910-4824-8459-fec6beba2aab" designerId="f492faed-0665-4513-9853-5a230721786f" elementId="60024323-fea2-46b3-813c-a78eab16e5d1" location="[Intent.Modules.Angular.Metadata].[User Interface].[[view]]" />
									<mappedEnds />
								</mapping>
							</mappings>
							<isAbstract>false</isAbstract>
							<display>Home</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Pages</display>
				</element>
			</childElements>
			<associations>
				<association id="96dc93c4-a2fe-480e-a760-6f3178f0ad7d">
					<type>Navigation</type>
					<typeId>6d2b2070-c1cb-4cd2-88b4-4e5f8414bd9e</typeId>
					<sourceEnd id="216e83ad-9677-49b3-ab11-20d9a85c6813">
						<type>Navigation Source End</type>
						<typeId>97a3de8a-c9bf-4cf2-bc0a-b8692b02211b</typeId>
						<display>: MainLayout</display>
						<typeReference>
							<typeId>c1c2682d-7a09-446d-8a19-d24d63cc99e4</typeId>
							<isNavigable>false</isNavigable>
							<isNullable>false</isNullable>
							<isCollection>false</isCollection>
							<typeName>MainLayout</typeName>
						</typeReference>
						<metadata />
					</sourceEnd>
					<targetEnd id="96dc93c4-a2fe-480e-a760-6f3178f0ad7d">
						<type>Navigation Target End</type>
						<typeId>2b191288-ecae-4743-b069-cbdd927ef349</typeId>
						<name>NavigateToExamplePage</name>
						<display>[navigate] ExamplePage</display>
						<typeReference>
							<typeId>ca58167b-0c67-4fe1-ba0b-06dbbbc20aa1</typeId>
							<isNavigable>true</isNavigable>
							<isNullable>false</isNullable>
							<isCollection>false</isCollection>
							<typeName>ExamplePage</typeName>
						</typeReference>
						<metadata />
					</targetEnd>
				</association>
			</associations>
			<references />
			<metadata />
		</package>
	</createPackages>
</settings>