<?xml version="1.0" encoding="utf-8"?>
<settings>
	<targetDesignerId>f492faed-0665-4513-9853-5a230721786f</targetDesignerId>
	<createPackages>
		<package id="c8aa2ec1-73b4-4356-94e3-bc52a2245cb1" typeId="911c35b4-4ba3-404c-a0c6-e5258e53333a" type="User Interface Package">
			<name>${application.name}.UI</name>
			<stereotypes />
			<childElements>
				<element id="b7b548eb-a3b3-44a2-910f-bb0b7de52667" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>Pages</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="ca58167b-0c67-4fe1-ba0b-06dbbbc20aa1" typeId="b1c481e1-e91e-4c29-9817-00ab9cad4b6b" type="Component">
							<name>ExamplePage</name>
							<genericTypes />
							<metadata />
							<stereotypes>
								<stereotype stereotypeDefinitionId="ea4adc09-8978-4ede-ba5f-265debb2b60c" name="Page">
									<addedByDefault>false</addedByDefault>
									<definitionPackageName>Intent.Modelers.UI</definitionPackageName>
									<definitionPackageId>5c4628ec-679e-4f3d-afda-137c978deae0</definitionPackageId>
									<properties>
										<property name="9dff9df1-a993-4bf6-9aa7-c16811142228" display="Route" value="/example-page/{Title}" isActive="true" />
										<property name="0a8627ba-ec45-4023-9c36-b0999f43e982" display="Title" isActive="true" />
									</properties>
								</stereotype>
							</stereotypes>
							<childElements>
								<element id="29a62d5f-85fe-439f-9d20-13664bd1ffa2" typeId="624513a6-cba8-4dde-8ebe-6b19f00f0364" type="Component View">
									<name>[view]</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>[view]</display>
								</element>
								<element id="17d84751-ea5e-4a83-8fcf-d048d93e4716" typeId="356fbe17-bc63-4e16-b915-feefbc063cbe" type="Property">
									<name>Title</name>
									<typeReference>
										<typeId>d384db9c-a279-45e1-801e-e4e8099625f2</typeId>
										<isNavigable>true</isNavigable>
										<isNullable>false</isNullable>
										<isCollection>false</isCollection>
										<typeName>string</typeName>
									</typeReference>
									<genericTypes />
									<metadata />
									<stereotypes>
										<stereotype stereotypeDefinitionId="f324c4ea-bac2-450d-b1b1-cc7f09ca3472" name="[Route Parameter]">
											<addedByDefault>false</addedByDefault>
											<definitionPackageName>Intent.Modelers.UI</definitionPackageName>
											<definitionPackageId>5c4628ec-679e-4f3d-afda-137c978deae0</definitionPackageId>
											<properties />
										</stereotype>
									</stereotypes>
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Title: string</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<mappings>
								<mapping type="View Binding" typeId="c33f86ad-423a-4a6f-a80c-a3206eafe5cd">
									<source elementId="ca58167b-0c67-4fe1-ba0b-06dbbbc20aa1" location="[Intent.Modules.Angular.Metadata].[User Interface].[ExamplePage]" />
									<target elementId="29a62d5f-85fe-439f-9d20-13664bd1ffa2" location="[Intent.Modules.Angular.Metadata].[User Interface].[[view]]" />
									<mappedEnds />
								</mapping>
							</mappings>
							<isAbstract>false</isAbstract>
							<display>ExamplePage</display>
						</element>
						<element id="a584c83e-6d75-4809-abd0-fa51fad5d802" typeId="b1c481e1-e91e-4c29-9817-00ab9cad4b6b" type="Component">
							<name>Home</name>
							<genericTypes />
							<metadata />
							<stereotypes>
								<stereotype stereotypeDefinitionId="ea4adc09-8978-4ede-ba5f-265debb2b60c" name="Page">
									<addedByDefault>false</addedByDefault>
									<definitionPackageName>Intent.Modelers.UI</definitionPackageName>
									<definitionPackageId>5c4628ec-679e-4f3d-afda-137c978deae0</definitionPackageId>
									<properties>
										<property name="9dff9df1-a993-4bf6-9aa7-c16811142228" display="Route" value="/" isActive="true" />
										<property name="0a8627ba-ec45-4023-9c36-b0999f43e982" display="Title" value="Home" isActive="true" />
									</properties>
								</stereotype>
							</stereotypes>
							<childElements>
								<element id="60024323-fea2-46b3-813c-a78eab16e5d1" typeId="624513a6-cba8-4dde-8ebe-6b19f00f0364" type="Component View">
									<name>[view]</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>[view]</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<mappings>
								<mapping type="View Binding" typeId="c33f86ad-423a-4a6f-a80c-a3206eafe5cd">
									<source elementId="a584c83e-6d75-4809-abd0-fa51fad5d802" location="[Intent.Modules.Angular.Metadata].[User Interface].[Home]" />
									<target elementId="60024323-fea2-46b3-813c-a78eab16e5d1" location="[Intent.Modules.Angular.Metadata].[User Interface].[[view]]" />
									<mappedEnds />
								</mapping>
							</mappings>
							<isAbstract>false</isAbstract>
							<display>Home</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Pages</display>
				</element>
			</childElements>
			<associations />
			<references />
			<metadata />
		</package>
	</createPackages>
</settings>