<?xml version="1.0" encoding="utf-8"?>
<package id="2d0aa034-a2b0-471b-bab7-570862df7d0a" type="Domain Package" typeId="1a824508-4623-45d9-accc-f572091ade5a">
  <name>JavaApplication.Domain</name>
  <externalReference>3630fdd5-32f0-41ec-be5d-e7f6216b442a</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="1b8f2b45-99c0-42dc-b28e-bcd4621c3e71" include="Intent.Common.Java" isExternal="true">
      <module>Intent.Common.Java</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="2e4398f1-893d-432e-badb-ab0c4ea3280e" include="Intent.Java.Persistence.JPA" isExternal="true">
      <module>Intent.Java.Persistence.JPA</module>
    </reference>
    <reference packageId="AF8F3810-745C-42A2-93C8-798860DC45B1" include="Intent.Metadata.RDBMS" isExternal="true">
      <module>Intent.Metadata.RDBMS</module>
    </reference>
    <reference packageId="6572b98d-5e13-4d4b-9ffc-820057da974e" include="Intent.Modelers.Domain" isExternal="true">
      <module>Intent.Modelers.Domain</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>