<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>f492faed-0665-4513-9853-5a230721786f</targetDesignerId>
  <createPackages>
    <package id="e0a7edcb-0181-4bda-9b51-edefa53c0588" typeId="911c35b4-4ba3-404c-a0c6-e5258e53333a" type="Web Client">
      <name>${application.name}.webClient</name>
      <stereotypes />
      <childElements>
        <element id="24d47a68-79a3-46bf-b4de-e8728134201a" typeId="cac14331-198a-4f9a-bbb9-171eb0bd4efe" type="Module">
          <name>AppModule</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="08fd83a4-1613-4b39-ab70-2140cec22b5b" typeId="b1c481e1-e91e-4c29-9817-00ab9cad4b6b" type="Component">
              <name>AppComponent</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="ded6918f-81c2-4097-bdbe-48ec0fb84b7b" name="Angular Component Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.Angular</definitionPackageName>
                  <definitionPackageId>a3deb341-dd4e-4f7f-99f5-2f198c1c251c</definitionPackageId>
                  <properties>
                    <property name="fb7aa637-1748-45fc-852d-084cf0d6d5de" display="Selector" value="app-root" isActive="true" />
                    <property name="861d6123-3795-4065-a58d-526a04e833ba" display="Inject Services" isActive="true" />
                    <property name="f9710a21-4db0-4fff-a61f-09761a5cc0b8" display="In Own Folder" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="61699e89-482e-4d83-8517-c2eba14ffe3c" typeId="624513a6-cba8-4dde-8ebe-6b19f00f0364" type="Component View">
                  <name>[view]</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>[view]</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>AppComponent</display>
            </element>
            <element id="e5ce6283-614b-4b10-80cf-6d704eb94fa0" typeId="b548c3c2-a27d-4290-8d23-99d158bb8987" type="Routing">
              <name>[routing]</name>
              <genericTypes />
              <metadata />
              <stereotypes />
              <childElements />
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>[routing]</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>AppModule</display>
          <diagram />
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>