<?xml version="1.0" encoding="utf-8"?>
<package id="a74d0bf7-608a-43e5-8273-e8fbcf248fe4" type="Root Location Package" typeId="fbca4a65-b376-482c-a23d-32da9908cac9">
  <name>root</name>
  <externalReference>5b595dcd-0671-4389-be22-be212215b9a1</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="1b8f2b45-99c0-42dc-b28e-bcd4621c3e71" include="Intent.Common.Java" isExternal="true">
      <module>Intent.Common.Java</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>