<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Code.Weaving.Java" version="1.0.0" />
  <module moduleId="Intent.Common" version="3.5.0" />
  <module moduleId="Intent.Common.Java" version="4.0.0-pre.0" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.Java.Domain" version="5.0.0-pre.0" />
  <module moduleId="Intent.Java.Maven" version="4.0.0-pre.0" />
  <module moduleId="Intent.Java.ModelMapper" version="4.0.0-pre.0" />
  <module moduleId="Intent.Java.Persistence.JPA" version="5.0.0-pre.0" />
  <module moduleId="Intent.Java.Services" version="4.0.0-pre.0" />
  <module moduleId="Intent.Java.Services.CRUD" version="4.0.0-pre.0" />
  <module moduleId="Intent.Java.Spring.Cors" version="4.0.0-pre.0" />
  <module moduleId="Intent.Java.Spring.Data.Repositories" version="5.0.0-pre.0" />
  <module moduleId="Intent.Java.SpringBoot" version="4.0.0-pre.0" />
  <module moduleId="Intent.Java.SpringBoot.Validation" version="4.0.0-pre.0" />
  <module moduleId="Intent.Java.SpringDoc.OpenApi" version="2.0.0-pre.0" />
  <module moduleId="Intent.Java.Weaving.Annotations" version="4.0.0-pre.0" />
  <module moduleId="Intent.Metadata.RDBMS" version="3.5.8" />
  <module moduleId="Intent.Metadata.WebApi" version="4.2.6-pre.0" />
  <module moduleId="Intent.Modelers.Domain" version="3.4.6" />
  <module moduleId="Intent.Modelers.Domain.Repositories" version="3.3.3" />
  <module moduleId="Intent.Modelers.Services" version="3.4.7" />
  <module moduleId="Intent.Modelers.Services.CRUD.ServiceDispatch" version="4.0.6" />
  <module moduleId="Intent.OutputTargets.Folders" version="3.3.7" />
</modules>