<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Angular" version="4.0.0-alpha.6" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Angular.ApiAuthorization" version="3.3.4-alpha.5" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Angular.Layout" version="4.0.0-alpha.5" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Angular.ServiceProxies" version="4.0.0-alpha.8" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Code.Weaving.Html" version="1.0.0" supportedClientVersions="[4.1.0-beta.21,5.0.0)" />
  <module moduleId="Intent.Code.Weaving.TypeScript" version="1.0.0" supportedClientVersions="[4.1.0-beta.21,5.0.0)" />
  <module moduleId="Intent.Common" version="3.5.3" />
  <module moduleId="Intent.Common.Html" version="4.0.0" supportedClientVersions="[3.3.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.Common.TypeScript" version="4.0.0" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Metadata.WebApi" version="4.4.3" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain" version="3.7.0" supportedClientVersions="[4.2.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services" version="3.6.1" supportedClientVersions="[4.2.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services.CQRS" version="4.1.2" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Types.ServiceProxies" version="5.2.3" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.WebClient" version="4.1.0-pre.0" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.WebClient.Angular" version="4.0.0-alpha.4" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Npm" version="4.0.0-pre.0" supportedClientVersions="[3.3.16, 5.0.0-a)" />
  <module moduleId="Intent.OutputTargets.Folders" version="3.4.0" supportedClientVersions="[4.1.0, 5.0.0-a)" />
</modules>