<?xml version="1.0" encoding="utf-8"?>
<package id="c5b04a5d-3b45-4ec0-a80f-dba15a1faffc" type="User Interface Package" typeId="911c35b4-4ba3-404c-a0c6-e5258e53333a">
  <applicationId>a3066354-0476-489c-8c80-5ff85e2fc776</applicationId>
  <designerId>f492faed-0665-4513-9853-5a230721786f</designerId>
  <name>Angular.Components.Material.UI</name>
  <externalReference>c8aa2ec1-73b4-4356-94e3-bc52a2245cb1</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="2debfc4c-f15d-47a6-88c1-8597b2ca8e50" include="Intent.Common.TypeScript" isExternal="true">
      <module>Intent.Common.TypeScript</module>
    </reference>
    <reference packageId="5c4628ec-679e-4f3d-afda-137c978deae0" include="Intent.Modelers.UI" isExternal="true">
      <module>Intent.Modelers.UI</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>