<div class="" intent-manage="add remove" intent-id="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation" intent-manage="" intent-id="da57e7e2-fea0-4dad-ac2d-3e51fb54007f">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><span>AngularTest</span></a>
    </div>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav" intent-manage="" intent-id="navbar-nav">
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <span intent-manage="" intent-id="03bad829-68b9-4c30-b2c3-24f1a0d4bf7f">
    <button class="btn btn-default" type="button" intent-manage="add" (click)="performServiceCalls()">Perform Service Calls</button>
  </span>
</div>
