<?xml version="1.0" encoding="utf-8"?>
<package id="25e08070-86e6-47ba-80bf-b642fd6da680" type="Web Client" typeId="911c35b4-4ba3-404c-a0c6-e5258e53333a">
  <name>ASDFASDF</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <references>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="b58a9e76-55b8-45ec-a22b-bcdfcb6fd833" include="Intent.Modelers.WebClient.Proxies" isExternal="true">
      <module>Intent.Modelers.WebClient.Proxies</module>
    </reference>
    <reference packageId="e4d4258d-855a-426a-9b24-ae823e919281" include="Services" isExternal="true">
      <path>../../Services/Services/Services.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
</package>