<?xml version="1.0" encoding="utf-8"?>
<package id="4d3049c6-3207-44d1-a8d0-1cafbeafde82" type="Root Location Package" typeId="fbca4a65-b376-482c-a23d-32da9908cac9">
  <applicationId>ad925f84-ceed-46ee-8059-6b3e79738beb</applicationId>
  <designerId>27916ede-58c6-4356-87b1-0b0628d1e2a7</designerId>
  <name>AngularAppCQRS</name>
  <externalReference>8e5c7d46-90fe-4828-b4cd-61e44c9b2a2c</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="2debfc4c-f15d-47a6-88c1-8597b2ca8e50" include="Intent.Common.TypeScript" isExternal="true">
      <module>Intent.Common.TypeScript</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>